<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<div class="demo-table">
  <table mat-table [dataSource]="books" class="mat-elevation-z8 demo-table">
    <!-- ID Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> ID </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>
  
    <!-- Title Column -->
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef> Titulo </th>
      <td mat-cell *matCellDef="let element"> {{element.title}} </td>
    </ng-container>
  
    <!-- Author Column -->
    <ng-container matColumnDef="author">
      <th mat-header-cell *matHeaderCellDef> Autor </th>
      <td mat-cell *matCellDef="let element"> {{element.author}} </td>
    </ng-container>
  
    <!-- Price Column with Angular Currency Pipe -->
    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef> Precio </th>
      <td mat-cell *matCellDef="let element"> {{element.price | currency:'USD':'symbol' }} </td>
    </ng-container>

    <!-- Quantity Column with Custom QuantityFormat Pipe -->
    <ng-container matColumnDef="quantity">
      <th mat-header-cell *matHeaderCellDef> Cantidad </th>
      <td mat-cell *matCellDef="let element"> {{element.quantity | quantityFormat }} </td>
    </ng-container>
  
    <!-- Actions Column -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Acciones </th>
      <td mat-cell *matCellDef="let element">
        <button (click)="openEditDialog(element)">
          <span class="material-icons">edit</span> <!-- Icono de editar -->
        </button>
        <button (click)="openDeleteDialog(element.id)">
          <span class="material-icons">delete</span> <!-- Icono de eliminar -->
        </button>
      </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
