footer {
    background-color: #dae0f8;
    padding: 20px;
    text-align: center;
    position: fixed; 
    bottom: 0; 
    left: 0; 
    width: 100%; 
    z-index: 1000;
}

footer .social-media a {
    margin: 0 10px;
}

footer .social-media a img {
    width: 30px;
}

footer p {
    margin-top: 10px;
    color: #221002;
    font-size: 14px;
}
